{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>{% block title %}Votify - Securing Your Voice, Empowering Your Choice{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="{% static 'images/logo/votify_logo.png' %}" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- color css -->
    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block extra_css %}{% endblock %}

<style>
    .winner {
        background-color: gold !important;
        color: black; /* Text color for visibility */
    }
    .runner-up {
        background-color: brown !important;
        color: black;
    }
    .second-runner-up {
        background-color: #7b4c4c !important; /* Bronze color */
        color: black;
    }
    .no-votes {
        background-color: lightgrey !important;
        color: black;
        border: none;

    }

</style>
</head>
<body class="dashboard dashboard_1">

<div class="full_container">
    <div class="inner_container">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <!-- Sidebar  -->
            <div class="sidebar_blog_1">
                <div class="sidebar-header">
                    <div class="logo_section">
                        <a href="{% url 'dashboard' %}"><img class="logo_icon img-responsive" src="{% static 'images/logo/votify_logo_nobg.png' %}" alt="#" /></a>
                    </div>
                </div>
                <div class="sidebar_user_info">
                    <div class="icon_setting"></div>
                    <div class="user_profle_side">
                        <div class="user_info">
                            <h6>{{ user_full_name }}</h6>
                            <p><span class="online_animation"></span> Online</p>
                            <p>{{ user_email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_blog_2">
                <h4>General</h4>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                    </li>
                    <li><a href="{% url 'election_list' %} "><i class="fa fa-clock-o orange_color"></i> <span>Elections</span></a></li>
                     <li><a href="{% url 'candidates_page' %} "><i class="fa fa-briefcase blue1_color"></i> <span>Candidates List</span></a></li>

                    <li><a href="{% url 'profile' %}"><i class="fa fa-cog yellow_color"></i> <span>My Profile</span></a></li>
                </ul>

                <ul class="list-unstyled components">
            <li>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn logout-btn "><i class="fa fa-sign-out red_color" style=" margin-left: 15px; margin-right: 20px;"></i><span class="white_color" style="color: white !important; margin-right: 20px;"> Log Out </span> </button>
                </form>
            </li>
            </ul>
            </div>
            <!-- end sidebar -->
        </nav>

        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                            <a href="{% url 'dashboard' %}"> <img class="logo_icon img-responsive" src="{% static 'images/logo/votify_logo_nobg.png' %}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                            <div class="icon_info">
                                <ul class="user_profile_dd">
                                    <li>
                                        <a class="dropdown-toggle" data-toggle="dropdown"> <img class="img-responsive rounded-circle" 
                            src="{% if user_profile_pic %}{{ user_profile_pic.url }}{% else %} https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=  {% endif %}" 
                            alt="Profile Picture" /> <span class="name_user">{{ user_full_name }}</span></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item"><span style="color:black;">Log Out</span> <i class="fa fa-sign-out"></i></button>
                                            </form>                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- end topbar -->

            <!-- dashboard inner -->
            <div class="midde_cont">
                {% block content %}
                <!-- Child templates will fill this block -->
                {% endblock %}

                <!-- footer -->
                <div class="container-fluid">
                    <div class="footer">
                        <p>Copyright © 2024 Votify. Design and Developed by Mayorkun. All rights reserved.<br><br></p>
                    </div>
                </div>
                <!-- end footer -->
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>
</div>

<div id="main_footer"></div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- wow animation -->
<script src="{% static 'js/animate.js' %}"></script>
<!-- select country -->
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<!-- chart js -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/analyser.js' %}"></script>
<!-- nice scrollbar -->
<script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>

{% if request.user.is_authenticated %}
    <!-- Your entire base.html content goes here -->
{% else %}
    <script>
        window.location.href = "{% url 'login' %}";
    </script>
{% endif %}

<script>
    var ps = new PerfectScrollbar('#sidebar');
</script>

<!-- custom js -->
<script src="{% static 'js/candidate_filter.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/chart_custom_style1.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>
